<main id="loc-container">
    <section class="home-logo">
        <img src="~/img/logo.png" alt="Tablr logo">
    </section>
    <section class="select-loc">
        <h1>Hvor vil du spise?</h1>
        <a class="button" asp-controller="Home" asp-action="Index">I nærheden</a>
        <a class="button" asp-controller="Home" asp-action="Index">Aarhus C</a>
    </section>
</main>